
  .container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    gap: 1rem;
    
}

 
  
  .heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .prescriptionCard {
    background: hsl(133, 31%, 94%);
    border: 0.7px solid #9b9b9e;
    border-radius: 10px;
    padding: 1rem 1.25rem;
    margin-bottom:2rem;

    /*3d effect */
    border-left: 6px solid #2c9a54; 
    border-bottom: 3px solid #2c9a54;
  }




  .prescriptionList{
    display: flex;
    gap:1rem;
    flex-direction: column;
    width: 100%;    
  }



