
  .container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    gap: 1rem;
}

.container:hover{
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(123, 153, 142, 0.4);
}
  
  .heading {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .prescriptionCard {
    background: hsl(133, 31%, 94%);
    border: 0.7px solid #9b9b9e;
    border-radius: 10px;
    padding: 1rem 1.25rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .prescriptionCard:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 14px rgba(123, 153, 142, 0.4);
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f5f9; /* optional subtle divider */
    padding-bottom:0.4rem;
  }
  
  .label {
    font-weight: 600;
    width: 50%;
  }
  
  .value {
    font-weight: 400;
    width: 50%;
    text-align: right;
  }
  