.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aed0c4;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ccc;
}

.bannerCenterWrapper{
    flex: 1;
    display: flex;
    justify-content: center;
}