.container {
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.container:hover{
  box-shadow: 0 6px 14px rgba(123, 153, 142, 0.5);
  transform: translateY(-2px);
}


.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}



.entry {
  font-size: 1.2rem;
  width: 100%;
  height: 140px;
  padding: 10px;
  border-radius: 8px;
  border: 1px #ccc;
  }

  


  

