.container {
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.container:hover{
  box-shadow: 0 6px 14px rgba(123, 153, 142, 0.5);
  transform: translateY(-2px);
}


.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.emojiButton {
  font-size: 1.8rem;
  background:none;
}

.moodSelector { 
  display:flex; 
  gap:8px; 
  margin-bottom: 8px; 
}



.emojiButton:hover {
  transform: scale(1.4);
}


.entry {
  font-size: 1.2rem;
  width: 100%;
  height: 130px;
  padding: 10px;
  border-radius: 8px;
  border: 1px #ccc;
  }

  


  

