.main{
    padding-bottom: 56px; /* Height of the footer */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aed0c4;
    padding: 0 1.5rem;
    border-top: 1px solid #ccc;
    height: 56px;
    flex-grow: 1;

    position: fixed;
    bottom:0;
    width: 100%;

    z-index: 1000;
}



