.form-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    color: #222;
    text-align: center;
    margin-bottom: 80px;
}

.question {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 14px;
    margin: 10px 0;
    text-align: center;
}

.options {
    display: grid;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 8px;
    text-align: center;
}

.submit-btn {
    background-color: #777;
    color: #fff;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #616161;
}
