@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap'); /* Import Kanit Font */
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'); /* Import Leaflet CSS */
@import "tailwindcss";

:root {
  --background: #ffffff;      /* Fixed background color */
  --foreground: #171717;      /* Fixed text color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Kanit', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Kanit', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

