@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap'); /* Import Kanit Font */
@import "tailwindcss";

:root {
  --background: #ffffff;      /* Fixed background color */
  --foreground: #171717;      /* Fixed text color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Kanit', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Kanit', sans-serif;
}


