.container {
    display: flex;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
.container:hover{
    box-shadow: 0 6px 14px rgba(123, 153, 142, 0.5);
    transform: translateY(-2px);
}
.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}


.notesList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.noteCard {
  background-color: #f3faf7;
  border: 0.7px solid #9b9b9e;
  border-radius: 10px;
  padding: 0.9rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);

  /* make it look 3D */
  border-left: 6px solid #2c9a54; 
  border-bottom: 3px solid #2c9a54; 
}

.noteCard:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(123, 153, 142, 0.6);
}

  

