.insuranceCard {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 340px;
  }

  .insuranceCard:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(123, 153, 142, 0.4);
  }
  
  .provider {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .insuranceList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%;
    max-width: 340px;
  }
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.25s ease-in-out;
  }

  .modalContent {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    animation: scaleUp 0.25s ease-in-out;
    font-family: 'Kanit', sans-serif;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    transition: color 0.2s ease;
  }
  
  .close:hover {
    color: #00796b;
  }
  