.insuranceCard {
    padding: 1.5rem 2rem;
    background: linear-gradient(145deg, #f8fafc, #ffffff);
    color: #0f172a;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 350px;
    margin-left: 5rem; 
  } 


  .insuranceCard:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(123, 153, 142, 0.4);

  }
  
  .provider {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .insuranceList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%;
    max-width: 340px;
  }


  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }


  .modalContent {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 2rem;
    max-width: 450px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
 