.container {
    display: flex;
    justify-content: column;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    min-width: 450 px;

   
   /* width: 100%;
    max-width: 500px;   
    margin: 2rem auto; */
}




.container:hover{
    box-shadow: 0 6px 14px rgba(123, 153, 142, 0.5);
    transform: translateY(-2px);
  }

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.subheading {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #888;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.checkbox {
    margin-right: 0.6rem;
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 4px rgb(41, 208, 230);
    cursor: pointer;
}

.label {
    font-size: 1rem;
}

.deleteButton {
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    font-size: 0.95rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.deleteButton:hover {
    background-color: #fdd;
    border-color: #f00;
}




